<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>

    <p>Total number of doctors: {{ total_doctors }}</p>
    <p>Total number of patients: {{ total_patients }}</p>
    <p>Total number of nurses: {{ total_nurses }}</p>
    <p>Total number of pharmacists: {{ total_pharmacists }}</p>
    <p>Total number of laboratories: {{ total_laboratories }}</p>
    <p>Total number of accountants: {{ total_accountants }}</p>
    <p>Total number of receptionists: {{ total_receptionists }}</p>
    <p>Total number of departments: {{ total_departments }}</p>
</body>
</html>
